@model Vidly.ViewModels.MovieCustomersViewModel

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Movie.Name</h2>

<ul>
    @foreach (var item in Model.Customers)
    {
        <li>@item.Name</li>
    }
</ul>

